<h1>Editing User</h1>

<!--<%= render 'form', user: @user %>-->

<%= form_with(model: @user, local: true, :html => {:multipart => true}) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center actions">
    <p>
    <%= form.label :image, "Profile Picture" %>
    <%= form.file_field :image %>
    </p>

    <%= form.label :username %> 
    <%= form.text_field :username %> 

    <br><br>

    <%= form.label :email %> 
    <%= form.email_field :email %>

    <br><br>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <br><br>

    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.password_field :password_confirmation %>

    <br><br>

    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'User Home', home_index_path(@user) %> | <%= link_to 'Show All Users (For Testing)', users_path %>
