<%if current_user.superUser %>

<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">Find Your Happy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Check-Ins", home_index_path(uid: current_user.id, desired_date: Date.today.to_s), :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "My Group", group_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "My Data", data_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Homework", homework_index_path, :class => "nav-link"%>
        </li>
      </ul>
      <ul class="nav navbar-nav pr-3">
        <%= link_to "Edit profile", edit_user_path(current_user), :class => "btn btn-warning" %>
      </ul>
      <%if current_user.superUser %>
        <ul class="nav navbar-nav pr-3">
          <%= link_to "Show all users", users_path, :class => "btn btn-warning active" %>
        </ul>
      <% end %> 
      <ul class="nav navbar-nav">
        <%= link_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-danger" %>
      </ul>
    </div>
  </div>
</nav>

<p id="notice" style="color:red; text-align: center"><%= notice %></p>

<br>
<h2 class="text-center">All Users</h2>
<br>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Username</th>
      <th>Email</th>
      <th>Group</th>
      <th>Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><img src="<%=user.image%>" alt="Profile Picture" class="avatar"></td>
        <td><%= link_to user.display_name, home_index_path(uid: user.id, desired_date: Date.today.to_s) %></td>
        <td><%= user.email %></td>
        <td><%= user.group_id %></td>
        <td>
          <%if user.superUser %>
            Admin
          <%else%>
            Member
          <%end%>
        </td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%else%>

<%end%>