<!DOCTYPE html>

<script>
    function updateValue(val)
    {
        document.getElementById('sliderDisplay').innerHTML = "Current Rating: " + val;
    }

    function addBox() 
    {
        $("#dynamic-inputs").append($("#original-inputs").html())
    }

</script>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel= "application.css">
    <meta charset="utf-8" />
    <title>Find Your Happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <img src="<%=current_member.image%>" alt="Profile Picture" class="avatar">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">Find Your Happy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Check-Ins", home_index_path(uid: current_member.id, desired_date: Date.today.to_s), :class => "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "My Group", group_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "My Data", data_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Homework", homework_index_path, :class => "nav-link"%>
        </li>
      </ul>
      <ul class="nav navbar-nav pr-3">
        <%= link_to "Edit profile", edit_member_path(current_member), :class => "btn btn-warning" %>
      </ul>
      <%if current_member.superUser %>
        <ul class="nav navbar-nav pr-3">
          <%= link_to "Show all users", members_path, :class => "btn btn-warning" %>
        </ul>
      <% end %> 
      <ul class="nav navbar-nav">
        <%= link_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-danger" %>
      </ul>
    </div>
  </div>
</nav>

<body>
    <p id="notice" style="color:red; text-align: center"><%= notice %></p>

    <div class="row">
        <div class="col-12">
            <% if current_member.superUser && current_member.id == @referenced_member.id %>
                <h2>Admin Controls</h2>
                <h4>Logged in as <%= @referenced_member.display_name %></h4>
                <h4>Date is: <%= DateTime.parse(@desired_date).strftime('%A %B %d, %Y') %></h4>
            <%elsif current_member.id == @referenced_member.id && Date.today.to_s == @desired_date %>
                <h2>Welcome to your Daily Check-Ins, <%= @referenced_member.display_name %>!</h2>
                <h4>Today is <%= DateTime.parse(@desired_date).strftime('%A %B %d, %Y') %>. </h4>
            <% elsif current_member.id == @referenced_member.id && Date.today.to_s != @desired_date %>
                <h2>Welcome to your Daily Check-Ins, <%= @referenced_member.display_name %>!</h2>
                <h4>You are viewing <%= DateTime.parse(@desired_date).strftime('%A %B %d, %Y') %>. </h4>
            <% elsif current_member.id != @referenced_member.id && Date.today.to_s == @desired_date %>
                <h2>You are viewing <%= @referenced_member.display_name %>'s Check-Ins for Today, <%= DateTime.parse(@desired_date).strftime('%A %B %d, %Y') %>.</h2>
            <% else %>
                <h2>You are viewing <%= @referenced_member.display_name %>'s Check-Ins on <%= DateTime.parse(@desired_date).strftime('%A %B %d, %Y') %>.</h2>
            <% end %>
            <br>
        </div>
        
    </div>

<%#Checkboxes%>
    <h3>Check-Ins</h3>

<%# Display message for no entries on a specific day %>
<% @responsePresent = false %>
<% @member_responses.each do |member_response| %>
    <% if member_response.response_date.to_date.to_s == @desired_date && member_response.member_id == @referenced_member.id %>
        <% @responsePresent = true %>
    <%end%>
<%end%>
<% if !@responsePresent && !current_member.superUser && current_member.id == @referenced_member.id && @desired_date != Date.today.to_s %>
    <p class="ml-3">You did not make any entries for this day.</p>
<% elsif !@responsePresent && !current_member.superUser && current_member.id != @referenced_member.id && @desired_date != Date.today.to_s %>
    <p class="ml-3"><%= @referenced_member.display_name %> did not make any entries for this day.</p>
<% elsif !@responsePresent && current_member.superUser && current_member.id != @referenced_member.id && @desired_date != Date.today.to_s%>
    <p class="ml-3"><%= @referenced_member.display_name %> did not make any entries for this day.</p>
<%end%>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <% @prevName = "" %>
        <% @member_responses.each do |member_response| %>
            <% if member_response.response_date.to_date != Date.today && member_response.response_type == "Check Box" && @desired_date != Date.today.to_s && member_response.response_date.to_date.to_s == @desired_date && member_response.member_id == @referenced_member.id %>
                <div class = "mx-3">
                    <% if member_response.question_asked != @prevName %>
                        <p class="mb-1"><%= member_response.question_asked %></p>
                        <% @prevName = member_response.question_asked %>
                    <% end %>
                    <div class ="form-inline">
                        <%= bootstrap_form_with url: "/create" do |form| %>
                            <div class="input-group">
                                <%= form.check_box :checked_off, label: "<span></span>".html_safe, checked: member_response.checked_off, disabled: true %>
                                <%= form.label member_response.response %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
        <% @displayed_questions.each do | displayed_question | %>
            <% if (!current_member.superUser && displayed_question.question_type == "Check Box" && @desired_date == displayed_question.question_date.to_date.to_s && (@desired_date.to_datetime <=> Date.today) != -1) || (current_member.superUser && displayed_question.question_type == "Check Box" && @desired_date == displayed_question.question_date.to_date.to_s && (current_member.id == @referenced_member.id || @desired_date == Date.today.to_s)) %>
                <div class ="mx-3">
                    <p class="mb-1"><%= displayed_question.question %></p>
                    <%if (current_member.id == @referenced_member.id && @desired_date == Date.today.to_s) || (current_member.superUser && current_member.id == @referenced_member.id)%>
                        <%= bootstrap_form_with url: "/create", method: "post" do |form| %>
                        <div class="">
                            <%if current_member.superUser %>
                                <td><%= link_to 'Delete Check Box Question', { :controller => 'home', :action => 'destroy', :id => displayed_question.id }, method: :delete, data: { confirm: 'Delete item?' }, class: "btn btn-danger btn-sm" %></td>
                            <%else%>
                                <%= form.text_field :response, label: "<span></span>".html_safe, size: "20x5" %>
                                <%= form.hidden_field :checked_off, value: false %>
                                <%= form.hidden_field :member_id, value: current_member.id %>
                                <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                <%= form.hidden_field :response_type, value: "Check Box" %>
                                <%= form.hidden_field :response_date, value: Date.today %>
                                <%= form.submit "Add Item", class: "btn btn-warning" %>
                            <%end%>
                        </div>
                        <% end %>
                    <% end %>
                </div>
                <br>
            <% end %>
            <% @member_responses.each do |member_response| %>
                <%if (!current_member.superUser && displayed_question.question_type == "Check Box" && displayed_question.question == member_response.question_asked && member_response.member_id == @referenced_member.id && member_response.response_date.to_date.to_s == @desired_date && @desired_date == displayed_question.question_date.to_date.to_s && (@desired_date.to_datetime <=> Date.today) != -1) || (current_member.superUser && displayed_question.question_type == "Check Box" && displayed_question.question == member_response.question_asked && member_response.member_id == @referenced_member.id && member_response.response_date.to_date.to_s == @desired_date && (displayed_question.question_date <=> Date.today) != -1)  %>
                    <div class ="form-inline">
                        <%= bootstrap_form_with url: "/update", method: "patch" do |form| %>
                            <div class="input-group ml-3">
                                
                                    <%= form.check_box :checked_off, label: "<span></span>".html_safe, checked: member_response.checked_off, onclick: "this.form.submit()", disabled: @referenced_member.id != current_member.id || @desired_date != Date.today.to_s %>
                                    <%= form.label member_response.response %>
                                    <%= form.hidden_field :member_id, value: current_member.id %>
                                    <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                    <%= form.hidden_field :response_type, value: "Check Box" %>
                                    <%= form.hidden_field :response_date, value: Date.today %>
                                    <%= form.hidden_field :id, value: member_response.id%>
                                    <%if current_member.id == @referenced_member.id && @desired_date == Date.today.to_s%>
                                        <%= link_to "Delete Item", { :controller => 'home', :action => 'destroyCheckBox', :id => member_response.id }, method: :delete, class: "mx-2 btn btn-sm btn-outline-danger" %>
                                
                                <%end%>
                            </div>
                            <div style="margin-top:10px;"></div>
                        <% end %>
                    </div>     
                <% end %>
            <% end %>
        <% end %>
    </div>
    

    <%#Free Form Questions%>
    <div class="col-lg-6 col-md-12">
    <% @member_responses.each do |member_response| %>
        <% if member_response.response_date.to_date != Date.today && member_response.response_type == "Free Form" && @desired_date != Date.today.to_s && member_response.response_date.to_date.to_s == @desired_date && member_response.member_id == @referenced_member.id %>
            <p class="mb-1 ml-3"><%= member_response.question_asked %></p>
            <%= bootstrap_form_with url: "/create" do |form| %>
                <div class="col">
                    <%= form.text_area :response, label: "<span></span>".html_safe, size: "100x5", value: member_response.response, disabled:true  %>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <% @displayed_questions.each do |displayed_question| %>
        <% @notDisplayed = true %>
        <% @member_responses.each do |member_response| %>
            <%if (!current_member.superUser && displayed_question.question_type == "Free Form" && displayed_question.question == member_response.question_asked && member_response.member_id == @referenced_member.id && member_response.response_date.to_date.to_s == @desired_date && @desired_date == displayed_question.question_date.to_date.to_s && (@desired_date.to_datetime <=> Date.today) != -1) || (current_member.superUser && displayed_question.question_type == "Free Form" && displayed_question.question == member_response.question_asked && member_response.member_id == @referenced_member.id && member_response.response_date.to_date.to_s == @desired_date && @desired_date == displayed_question.question_date.to_date.to_s && (current_member.id == @referenced_member.id || @desired_date == Date.today.to_s)) %>
                <p class="mb-1 ml-3"><%= displayed_question.question %></p>
                <%= bootstrap_form_with url: "/update", method: "patch" do |form| %>
                    <div class="col">
                        <div class="mb-3">
                            <%if current_member.superUser && current_member.id == @referenced_member.id %>
                                <td><%= link_to 'Delete Free Form Question', { :controller => 'home', :action => 'destroy', :id => displayed_question.id }, method: :delete, data: { confirm: 'Delete free form question?' }, class: "btn btn-danger btn-sm" %></td>
                                <% @notDisplayed = false %>
                            <%else%>
                                <%= form.text_area :response, label: "<span></span>".html_safe, size: "100x5", value: member_response.response, disabled: @referenced_member.id != current_member.id || @desired_date != Date.today.to_s %>
                                <%= form.hidden_field :member_id, value: current_member.id %>
                                <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                <%= form.hidden_field :response_type, value: "Free Form" %>
                                <%= form.hidden_field :response_date, value: Date.today %>
                                <%= form.hidden_field :id, value: member_response.id%>
                                <% @notDisplayed = false %>
                            <%end%>
                        </div>
                    <div>
                        <%if current_member.id == @referenced_member.id && @desired_date == Date.today.to_s && !current_member.superUser%>
                            <%= form.submit "Update Response", class: "btn btn-warning"%>
                        <% end %>
                    </div>
                    <br>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <%if (!current_member.superUser && @notDisplayed && displayed_question.question_type == "Free Form" && @desired_date == displayed_question.question_date.to_date.to_s && (@desired_date.to_datetime <=> Date.today) != -1) || (current_member.superUser && @notDisplayed && displayed_question.question_type == "Free Form" && @desired_date == displayed_question.question_date.to_date.to_s && (current_member.id == @referenced_member.id || @desired_date == Date.today.to_s))%> 
            <p class="mb-1 ml-3"><%= displayed_question.question %></p> 
            <%= bootstrap_form_with url: "/create" do |form| %> 
                <div class="col">
                    <div class="mb-3">
                        <%if current_member.superUser && current_member.id == @referenced_member.id%>
                            <td><%= link_to 'Delete Free Form Question', { :controller => 'home', :action => 'destroy', :id => displayed_question.id }, method: :delete, data: { confirm: 'Delete free form question?' }, class: "btn btn-danger btn-sm" %></td>
                        <%else%>
                            <%= form.text_area :response, label: "<span></span>".html_safe, size: "100x5", disabled: @referenced_member.id != current_member.id || @desired_date != Date.today.to_s %>
                            <%= form.hidden_field :member_id, value: current_member.id %>
                            <%= form.hidden_field :question_asked, value: displayed_question.question %>
                            <%= form.hidden_field :response_type, value: "Free Form" %>
                            <%= form.hidden_field :response_date, value: Date.today %>
                        <%end%>
                    </div>
                    <div>
                        <%if current_member.id == @referenced_member.id && @desired_date == Date.today.to_s && !current_member.superUser%>
                            <%= form.submit "Save Reponse", class: "btn btn-warning" %>
                        <% end %>
                    </div>
                    <br>
                </div>
            <% end %>
        <% end %>
    <% end %>
    </div>
</div>

<br>
    <%#Mood Rating Slider%>
<div class="row">
    <div class="col-lg-12 mx-3 d-flex justify-content-center text-center">
        <%if current_member.id == @referenced_member.id && @desired_date == Date.today.to_s && !current_member.superUser%>
            <%if Time.now.hour >= 6 && Time.now.hour < 12 %>
                <%= bootstrap_form_with url: "/createMoodRating" do |form| %>
                    <div>
                        <img src= "<%=@most_recent_slider%>", class = "img-fluid", alt = "mood rating scale"> 
                    </div>
                    <div style="margin-top:10px;"></div>
                    <%= form.hidden_field :member_id, value: current_member.id %>
                    <%= form.hidden_field :morning, value: true %>

                    <%# Hide the slider and Save button if they already have responded to it and display their answer %>
                        <% @alreadyResponded = false %>
                        <% @mood_ratings.each do |mood_rating| %>
                            <% if mood_rating.member_id == current_member.id && mood_rating.morning && mood_rating.created_at.to_date == Date.today%>
                                <p>You submitted that you were feeling at a <%= mood_rating.rating %> this morning.</p>
                                <% @alreadyResponded = true%>
                            <% end %>
                        <% end %>
                        <% if !@alreadyResponded %>
                            <%= form.range_field :rating,  label: "How are you feeling this morning? (Answer between 6AM and 12PM CST)", in: 1..9, :step => 1,  oninput:"updateValue(this.value)"  %>
                            <p id="sliderDisplay"></p>
                            <%= form.submit "Save Rating", class: "btn btn-warning" %>
                        <% end %>

                    <br>
                <% end %>
            <% elsif Time.now.hour >= 18 && Time.now.hour < 24 %>
                <%= bootstrap_form_with url: "/createMoodRating" do |form| %>
                    <div>
                        <img src= "<%=@most_recent_slider%>", class = "img-fluid", alt = "mood rating scale"> 
                    </div>
                    <div style="margin-top:10px;"></div>
                    <%= form.hidden_field :member_id, value: current_member.id %>
                    <%= form.hidden_field :morning, value: false %>

                    <%# Hide the slider and Save button if they already have responded to it and display their answer %>
                        <% @alreadyResponded = false %>
                        <% @mood_ratings.each do |mood_rating| %>
                            <% if mood_rating.member_id == current_member.id && !mood_rating.morning && mood_rating.created_at.to_date == Date.today%>
                                <p>You submitted that you were feeling at a <%= mood_rating.rating %> this evening.</p>
                                <% @alreadyResponded = true%>
                            <% end %>
                        <% end %>
                        <% if !@alreadyResponded %>
                            <%= form.range_field :rating,  label: "How are you feeling this evening? (Answer between 6PM and 12AM CST)", in: 1..9, :step => 1,  oninput:"updateValue(this.value)"  %>
                            <p id="sliderDisplay"></p>
                            <%= form.submit "Save", class: "btn btn-warning" %>
                        <% end %>
                    
                    <div style="margin-top:10px;"></div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>

<br>

<%# ADMIN THINGS %>
<div class="row">
    <%# Add A New Question%>
    <div class="col-lg-6 col-md-12">
        <%if current_member.superUser && @desired_date == Date.today.to_s && current_member.id == @referenced_member.id %>
                <h3 class="ml-3">Create New Question</h4>
                <%= bootstrap_form_with url: "/createQuestion" do |form| %> 
                    <div class="mx-3">
                        <div>
                            <%= form.text_area :question, label: "Enter Question Here", size: "10x5" %>
                            <%= form.select :question_type, options_for_select(["Free Form", "Check Box"]), {label: "Select a Question Type",}, {required: true, class: "form form-group form-control" } %>
                            <%= form.date_field :question_date, min: Date.today, value: Date.today %>
                        </div>
                        <div>
                            <%= form.submit "Add Question", class: "btn btn-danger" %>
                        </div>
                        <div style="margin-top:10px;">
                        </div>
                    </div>
                <% end %>
        <%end%>
    </div>
    <%# Change Mood Rating Scale Image %>
    <div class="col-lg-6 col-md-12">
        <%if current_member.superUser && @desired_date == Date.today.to_s && current_member.id == @referenced_member.id%>
                <h3>Change Mood Rating Scale Image</h4>
                <%= bootstrap_form_with url: "/createSliderPicture" do |form| %> 
                    <div class="mx-3">
                        <div>
                            <%= form.text_area :image_link, label: "Enter Image link here:", size: "10x5" %>   
                        </div>
                        <div>
                            <%= form.submit "Change Image", class: "btn btn-danger mr-3" %>
                        </div>
                        <div style="margin-top:10px;">
                        </div>
                    </div>
                <% end %>
                <br>
                <h6 class="text-center">Current Mood Rating Scale Image:</h6>
                <img src= "<%=@most_recent_slider%>", class = "img-fluid", alt = "mood rating scale">
        <%end%>
    </div>
</div>

<br>

<%if current_member.superUser && current_member.id == @referenced_member.id%>
    <%= month_calendar do |date| %>
        <%= link_to date.strftime("%-d"), home_index_path(uid: current_member.id, desired_date: date)  %>
    <% end %>
<% end %>

<%#Comments%>
<div class="row">
    <div class="col-12">
        <% if current_member.id == @referenced_member.id && !current_member.superUser %>
            <h3>Comments</h3> 
        <%end%>
        <% if current_member.id != @referenced_member.id %>
            <h3>Comments</h3>
            <% if !current_member.superUser %> 
                <div class="card mx-3">
                <div class="card-body">
                    <%= form_with(model: [current_member, current_member.comment.build]) do |f| %>
                    <%= f.hidden_field :recipient_ID, value: @referenced_member.id.to_s%>
                    <%= f.hidden_field :comment_date, value: @desired_date%>
                    <div class="form-group">
                        <%= f.label 'New comment' %>
                        <%= f.text_area :body, class: 'form-control' %>
                    </div>
                    <%= f.submit 'Submit Comment', class: 'btn btn-primary' %>
                    <% end %>
                </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
<br>
<% if @cmts.any? %>
    <div class="row">
        <div class="col-12">
            <% (@cmts.reverse).each do |c| %>
                <%= render c %> 
            <% end %>
        </div>
    </div>
<% elsif (current_member.id == @referenced_member.id && !current_member.superUser) || current_member.id != @referenced_member.id %>
    <p class="ml-3">There are no comments to show.</p>
<% end %>

</body>
</html>
<br><br><br>
