<!DOCTYPE html>

<script>
    function updateValue(val)
    {
        document.getElementById('sliderDisplay').innerHTML = "Current Rating: " + val;
    }

    function addBox() 
    {
        $("#dynamic-inputs").append($("#original-inputs").html())
    }

</script>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel= "application.css">
    <meta charset="utf-8" />
    <title>Find Your Happy</title>
</head>

<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <img src="<%=current_user.image%>" alt="Profile Picture" class="avatar">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">Find Your Happy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Check-Ins", home_index_path(uid: current_user.id, desired_date: Date.today.to_s), :class => "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "My Group", group_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "My Data", data_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Homework", homework_index_path, :class => "nav-link"%>
        </li>
      </ul>
      <ul class="nav navbar-nav pr-3">
        <%= link_to "Edit profile", edit_user_path(current_user), :class => "btn btn-warning" %>
      </ul>
      <%if current_user.superUser %>
        <ul class="nav navbar-nav pr-3">
          <%= link_to "Show all users", users_path, :class => "btn btn-warning" %>
        </ul>
      <% end %> 
      <ul class="nav navbar-nav">
        <%= link_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-danger" %>
      </ul>
    </div>
  </div>
</nav>

<body>
    <p id="notice" style="color:red; text-align: center"><%= notice %></p>

    <div class="row">
        <div class="col-md-12">
            <%if current_user.id == @referenced_user.id && Date.today.to_s == @desired_date %>
                <h2>Welcome to your Daily Check-Ins, <%= @referenced_user.display_name %>!</h2>
                <h4>Today is <%= @desired_date %>. </h4>
            <% elsif current_user.id == @referenced_user.id && Date.today.to_s != @desired_date %>
                <h2>Welcome to your Daily Check-Ins, <%= @referenced_user.display_name %>!</h2>
                <h4>You are viewing <%= @desired_date %>. </h4>
            <% elsif current_user.id != @referenced_user.id && Date.today.to_s == @desired_date %>
                <h2>You are viewing <%= @referenced_user.display_name %>'s Check-Ins for Today, <%= @desired_date %>.</h2>
            <% else %>
                <h2>You are viewing <%= @referenced_user.display_name %>'s Check-Ins on <%= @desired_date %>.</h2>
            <% end %>
        </div>
        <div style="margin-top:10px;">
        </div>
    </div>
    <%#Checkboxes%>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <% @displayed_questions.each do | displayed_question | %>
                    <% if displayed_question.question_type == "Check Box"%>
                        <div class ="form-inline">
                            <p><%= displayed_question.question %></p>
                            <%if current_user.id == @referenced_user.id && @desired_date == Date.today.to_s%>
                                <%= bootstrap_form_with url: "/create", method: "post" do |form| %>
                                <div class="input-group">
                                    <%= form.text_field :response, label: "<span></span>".html_safe, size: "50x10" %>
                                    <%= form.hidden_field :checked_off, value: false %>
                                    <%= form.hidden_field :user_id, value: current_user.id %>
                                    <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                    <%= form.hidden_field :response_type, value: "Check Box" %>
                                    <%= form.hidden_field :response_date, value: Date.today %>
                                    <%= form.submit "Add", class: "btn btn-warning" %>
                                </div>
                                <% end %>
                            <% end %>
                        </div>
                        <div style="margin-top:10px;"></div>
                    <% end %>
                    <% @user_responses.each do |user_response| %>
                        <%if displayed_question.question_type == "Check Box" && displayed_question.question == user_response.question_asked && user_response.user_id == @referenced_user.id && user_response.response_date.to_date.to_s == @desired_date %>
                            <div class ="form-inline">
                                <%= bootstrap_form_with url: "/update", method: "patch" do |form| %>
                                    <div class="input-group">
                                        <%= form.check_box :checked_off, label: "<span></span>".html_safe, checked: user_response.checked_off, onclick: "this.form.submit()", disabled: @referenced_user.id != current_user.id || @desired_date != Date.today.to_s %>
                                        <%= form.label user_response.response %>
                                        <%= form.hidden_field :user_id, value: current_user.id %>
                                        <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                        <%= form.hidden_field :response_type, value: "Check Box" %>
                                        <%= form.hidden_field :response_date, value: Date.today %>
                                        <%= form.hidden_field :id, value: user_response.id%>
                                    </div>
                                    <div style="margin-top:10px;"></div>
                                <% end %>
                            </div>     
                        <% end %>
                    <% end %>
                <% end %>

            <%#Comments%>
            <h3>Group Comments</h3>
            <% @comments.each do |comment| %>
                <p><%= comment.comment %></p>
            <% end %>
            </div>

            <div style="height:300px;overflow:auto;">
              <% @users.each do |user| %>
                <% if user.id != @referenced_user.id && user.group_id == @referenced_user.group_id %>
                  <%= render user.comment, pageID: @referenced_user.id %>
                <% end %>
              <% end %>
            </div>

            <% if current_user.id != @referenced_user.id %>
              <div class="card my-1">
                <div class="card-body">
                  <%= form_with(model: [current_user, current_user.comment.build]) do |f| %>
                    <%= f.hidden_field :recipient_ID, value: @referenced_user.id.to_s%>
                    <div class="form-group">
                      <%= f.label 'New comment' %>
                      <%= f.text_area :body, class: 'form-control' %>
                    </div>
                    <%= f.submit 'Submit', class: 'btn btn-primary' %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <%#Free Form Questions%>
            <div class="col-md-6">
            <% @displayed_questions.each do |displayed_question| %>
                <% @notDisplayed = true %>
                <% @user_responses.each do |user_response| %>
                    <%if displayed_question.question_type == "Free Form" && displayed_question.question == user_response.question_asked && user_response.user_id == @referenced_user.id && user_response.response_date.to_date.to_s == @desired_date %>
                        <%= bootstrap_form_with url: "/update", method: "patch" do |form| %>
                            <div class="col">
                                <div class="mb-3">
                                    <%= form.text_area :response, label: displayed_question.question, size: "100x10", value: user_response.response %>
                                    <%= form.hidden_field :user_id, value: current_user.id %>
                                    <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                    <%= form.hidden_field :response_type, value: "Free Form" %>
                                    <%= form.hidden_field :response_date, value: Date.today %>
                                    <%= form.hidden_field :id, value: user_response.id%>
                                    <% @notDisplayed = false %>
                                </div>
                            </div>
                            <div>
                                <%if current_user.id == @referenced_user.id && @desired_date == Date.today.to_s%>
                                    <%= form.submit "Update", class: "btn btn-warning"%>
                                <% end %>
                            </div>
                            <div style="margin-top:10px;">
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
                <%if @notDisplayed && displayed_question.question_type == "Free Form" %>  
                    <%= bootstrap_form_with url: "/create" do |form| %> 
                        <div class="col">
                            <div class="mb-3">
                                <%= form.text_area :response, label: displayed_question.question, size: "100x10" %>
                                <%= form.hidden_field :user_id, value: current_user.id %>
                                <%= form.hidden_field :question_asked, value: displayed_question.question %>
                                <%= form.hidden_field :response_type, value: "Free Form" %>
                                <%= form.hidden_field :response_date, value: Date.today %>
                            </div>
                            <div>
                                <%if current_user.id == @referenced_user.id && @desired_date == Date.today.to_s%>
                                    <%= form.submit "Save", class: "btn btn-warning" %>
                                <% end %>
                            </div>
                            <div style="margin-top:10px;"></div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
            </div>

            <%#Mood Rating Slider%>
            <div class="col-md-6">
                <%if current_user.id == @referenced_user.id && @desired_date == Date.today.to_s%>
                    <%if Time.now.hour >= 9 && Time.now.hour < 10 %>
                        <%= bootstrap_form_with url: "/createMoodRating" do |form| %>
                            <div>
                                <%= image_tag("moodscale.jpg", :class => "img-fluid", :alt => "rss feed") %> 
                            </div>
                            <div style="margin-top:10px;"></div>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <%= form.hidden_field :morning, value: true %>

                            <%# Hide the slider and Save button if they already have responded to it and display their answer %>
                                <% @alreadyResponded = false %>
                                <% @mood_ratings.each do |mood_rating| %>
                                    <% if mood_rating.user_id == current_user.id && mood_rating.morning && mood_rating.created_at.to_date == Date.today%>
                                        <p>You submitted that you were feeling at a <%= mood_rating.rating %> this morning.</p>
                                        <% @alreadyResponded = true%>
                                    <% end %>
                                <% end %>
                                <% if !@alreadyResponded %>
                                    <%= form.range_field :rating,  label: "How are you feeling this morning? (Answer between 9AM and 10AM CST)", in: 0..10, :step => 1,  oninput:"updateValue(this.value)"  %>
                                    <p id="sliderDisplay"></p>
                                    <%= form.submit "Save", class: "btn btn-warning" %>
                                <% end %>

                            <div style="margin-top:10px;"></div>
                        <% end %>
                    <% elsif Time.now.hour >= 18 && Time.now.hour < 19 %>
                        <%= bootstrap_form_with url: "/createMoodRating" do |form| %>
                            <div>
                                <%= image_tag("moodscale.jpg", :class => "img-fluid", :alt => "rss feed") %> 
                            </div>
                            <div style="margin-top:10px;"></div>
                            <%= form.hidden_field :user_id, value: current_user.id %>
                            <%= form.hidden_field :morning, value: false %>

                            <%# Hide the slider and Save button if they already have responded to it and display their answer %>
                                <% @alreadyResponded = false %>
                                <% @mood_ratings.each do |mood_rating| %>
                                    <% if mood_rating.user_id == current_user.id && !mood_rating.morning && mood_rating.created_at.to_date == Date.today%>
                                        <p>You submitted that you were feeling at a <%= mood_rating.rating %> this evening.</p>
                                        <% @alreadyResponded = true%>
                                    <% end %>
                                <% end %>
                                <% if !@alreadyResponded %>
                                    <%= form.range_field :rating,  label: "How are you feeling this evening? (Answer between 6PM and 7PM CST)", in: 0..10, :step => 1,  oninput:"updateValue(this.value)"  %>
                                    <p id="sliderDisplay"></p>
                                    <%= form.submit "Save", class: "btn btn-warning" %>
                                <% end %>
                            
                            <div style="margin-top:10px;"></div>
                        <% end %>
                    <% end %>
                <% end %>
            </div>

        <%# Add A New Question%>
        <%if current_user.superUser && @desired_date == Date.today.to_s && current_user.id == @referenced_user.id %>
        <div class="col-md-6">
                <h4>New Question Form</h4>
                <%= bootstrap_form_with url: "/createQuestion" do |form| %> 
                    <div class="col">
                        <div class="mb-3">
                            <%= form.text_area :question, label: "Enter your Question here", size: "10x10" %>
                            <%= form.select :question_type, options_for_select([["Select a Question Type", ""], "Free Form", "Homework", "Check Box"]), {}, {class: "form form-group form-control" } %>
                        </div>
                        <div>
                            <%= form.submit "Save", class: "btn btn-warning" %>
                        </div>
                        <div style="margin-top:10px;">
                        </div>
                    </div>
                <% end %>
        </div>
        <%end%>
    </div>
</body>
</html>
