<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Find Your Happy</title>
</head>

<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <img src="<%=current_member.image%>" alt="Profile Picture" class="avatar">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">Find Your Happy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Check-Ins", home_index_path(uid: current_member.id, desired_date: Date.today.to_s), :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "My Group", group_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "My Data", data_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Homework", homework_index_path, :class => "nav-link active"%>
        </li>
      </ul>
      <ul class="nav navbar-nav pr-3">
        <%= link_to "Edit profile", edit_member_path(current_member), :class => "btn btn-warning" %>
      </ul>
      <%if current_member.superUser %>
        <ul class="nav navbar-nav pr-3">
          <%= link_to "Show all users", members_path, :class => "btn btn-warning" %>
        </ul>
      <% end %> 
      <ul class="nav navbar-nav">
        <%= link_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-danger" %>
      </ul>
    </div>
  </div>
</nav>

<body>
<br>


<%# Display most recent video added, video title, video comment, and delete button%>
<% @videos.each do |video| %>
  <%if video.id == @videos.maximum(:id)%>
    <div class="row">
      <div class="col-lg-12">
          <h3 class="text-center"><%=video.video_title %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 px-5">
        <li class="list-group-item"><%=video.uploader_comment%></li>
      </div>
    </div>
    <br>
    
    <%if video.video_link["https://www.youtube.com/watch?v="]%>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            <div class="embed-responsive embed-responsive-16by9">
            <% @source_link = "https://www.youtube.com/embed/"+video.video_link[32..42] %>
            <%= @source_link%>
                <iframe class="embed-responsive-item" src=<%=@source_link%> allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <% if current_member.superUser %>
            <%= link_to "Delete Video", { :controller => 'homework', :action => 'destroyVideo', :id => video.id }, method: :delete, data: { confirm: 'Delete video?' }, class: "btn btn-sm btn-danger" %>
          <%end%>
        </div>
      </div>
    <%end%>
    
  <%end%>
<%end%>

<br>
<h3 class="text-center">Homework</h3>
    <div class="row">
      <div class="col-md-12 px-5">
          <ul class="list-group">
          <% @displayed_questions.each do |displayed_question| %>
            <%if displayed_question.question_type == "Homework"%>
              <li class="list-group-item"><%=displayed_question.question%></li>
              <%if current_member.superUser%>
                <td><%= link_to 'Delete Homework Entry', { :controller => 'homework', :action => 'destroy', :id => displayed_question.id }, method: :delete, data: { confirm: 'Delete homework entry?' } %></td>
              <%end%>
            <%end%>
            <br>
          <%end%>
          </ul>
      </div>
    </div>

<%# Previous Videos%>
<h3 class="text-center">Past Videos</h3>
<br>
    <% @videos.each do |video| %>
      <%if video.id != @videos.maximum(:id)%>
        <div class="row">
          <div class="col-md-12">
              <h4 class="text-center"><%=video.video_title %></h4>
          </div>
        </div>
        <%if video.video_link["https://www.youtube.com/watch?v="]%>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-7">
                <div class="embed-responsive embed-responsive-16by9">
                <% @source_link = "https://www.youtube.com/embed/"+video.video_link[32..42] %>
                <%= @source_link%>
                    <iframe class="embed-responsive-item" src=<%=@source_link%> allowfullscreen></iframe>       
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <% if current_member.superUser %>
                <%= link_to "Delete Video", { :controller => 'homework', :action => 'destroyVideo', :id => video.id }, method: :delete, data: { confirm: 'Delete video?' }, class: "btn btn-sm btn-danger" %>
              <%end%>
            </div>
            <br>
          </div>
        <%end%>
      <%end%>
    <%end%>

    <br>

<%# ADMIN THINGS %>

<%# Add Homework%>
<div class="row">
  <%if current_member.superUser%>
  <div class="col-lg-6 col-md-12">
    <h3>Create Homework</h3>
    <%= bootstrap_form_with url: "/createHW" do |form| %> 
        <div class="col">
            <div class="mb-3">
                <%= form.text_area :question, label: "Enter homework here:", size: "10x5" %>
                <%= form.hidden_field :question_type, value: "Homework" %>
            </div>
            <div>
                <%= form.submit "Add Homework", class: "btn btn-danger" %>
            </div>
            <div style="margin-top:10px;">
            </div>
        </div>
    <% end %>
  </div>
  <%end%>

<%# Add Video%>
  <div class="col-lg-6 col-md-12">
    <%if current_member.superUser%>
      <h4>Add Video</h4>
      <%= bootstrap_form_with url: "/createVideo" do |form| %> 
          <div class="col">
              <div class="mb-3">
                  <%= form.text_area :video_link, label: "Enter YouTube video link here:", size: "10x1" %>
                  <%= form.text_area :video_title, label: "Enter video title here:", size: "10x1" %>
                  <%= form.text_area :uploader_comment, label: "Enter video comment here:", size: "10x5" %>
              </div>
              <div>
                  <%= form.submit "Add Video", class: "btn btn-danger" %>
              </div>
          </div>
      <% end %>
    <%end%>
</div>

</body>
