<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Find Your Happy</title>
</head>

<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <img src="<%=current_member.image%>" alt="Profile Picture" class="avatar">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#">Find Your Happy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Check-Ins", home_index_path(uid: current_member.id, desired_date: Date.today.to_s), :class => "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "My Group", group_index_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "My Data", data_index_path, :class => "nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "Homework", homework_index_path, :class => "nav-link"%>
        </li>
      </ul>
      <ul class="nav navbar-nav pr-3">
        <%= link_to "Edit profile", edit_member_path(current_member), :class => "btn btn-warning" %>
      </ul>
      <%if current_member.superUser %>
        <ul class="nav navbar-nav pr-3">
          <%= link_to "Show all users", members_path, :class => "btn btn-warning" %>
        </ul>
      <% end %> 
      <ul class="nav navbar-nav">
        <%= link_to "Log out", logout_path, method: :delete, :class => "btn btn-outline-danger" %>
      </ul>
    </div>
  </div>
</nav>

<body>
<br>
<h2 class="text-center">My Data Tracking</h2>
<br>

<div class="row justify-content-center">
  <div class="col-11">
    <%=line_chart [
        { name: "Morning", data: @mood_ratings_morning_pastweek.group_by_day(:created_at).maximum(:rating)},
        { name: "Evening", data: @mood_ratings_evening_pastweek.group_by_day(:created_at).maximum(:rating)}
      ], xtitle: "Time", ytitle: "Rating (0-10)", title: "Mood Tracking in the Past Week" %>
  </div>
</div>

<br><br>

<div class="row justify-content-center">
  <div class="col-11">
    <%=line_chart [
        { name: "Morning", data: @mood_ratings_morning_pastmonth.group_by_day(:created_at).maximum(:rating)},
        { name: "Evening", data: @mood_ratings_evening_pastmonth.group_by_day(:created_at).maximum(:rating)}
      ], xtitle: "Time", ytitle: "Rating (0-10)", title: "Mood Tracking in the Past Month" %>
  </div>
</div>

<% if current_member.superUser %>
  <%= month_calendar do |date| %>
    <%= link_to date.strftime("%-d"), home_index_path(uid: current_member.id, desired_date: date)  %>
  <% end %>
<% end %>

</body>

