<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Happy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS Reset -->
    <%# <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css"> %>

    <!-- Milligram CSS minified -->
    <%# <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"> %>

  </head>

  <body>
    <%= yield %>
  </body>

  <br>
 
</html>

 <div class="text-center p-3" style="background-color: #e3f2fd; position: absolute; bottom: 0px; width: 100%">
    Find Your Happy
  </div>
