<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<%# Navbar %>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <%= link_to "Login", login_path, :class => "btn btn-outline-primary" %>
      </ul>
    </div>
  </div>
</nav>

<div style="margin-top:50px;">

<%= image_tag("happy.png", :alt => "rss feed", class: "mx-auto d-block", size: "100x100") %>

<br>

<h2 class="text-center">Find Your Happy</h2>
<h3 class="text-center">Sign Up</h3>

<%= form_with(model: @member, local: true, :html => {:multipart => true}) do |form| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% @member.errors.full_messages.each do |message| %>
          <p style="color:red; text-align: center"><%= message %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center actions">

  <table>
    <tr>
      <th><%= form.label :display_name, "Display Name:" %> </th>
      <td><%= form.text_field :display_name %> </td>
    </tr>
      <br><br>
    <tr>
      <th><%= form.label :email, "Email:" %> </th>
      <td><%= form.email_field :email %> </td>
    </tr>
    <tr>
      <th><%= form.label :password, "Password:" %> </th>
      <td><%= form.password_field :password %> </td>
    </tr>
    <tr>
      <th><%= form.label :password_confirmation, "Confirm Password:" %> </th>
      <td><%= form.password_field :password_confirmation %> </td>
    </tr>
  </table>

  <br>

  <%= form.submit "Create User", class: "btn btn-primary"%>

  </div>
<% end %>

<br>

<div class="text-center">
      <p> <%= link_to 'Already have an account? Login.', login_path %></p>
</div>
</html>
<br><br><br>